fastapi==0.111.0
uvicorn[standard]==0.30.1
httpx[socks]==0.27.0
aiohttp==3.9.5
python-dotenv==1.0.1
pydantic==2.7.1
pydantic-settings==2.3.0
free-proxy==1.1.1
stem==1.8.2
asyncio-throttle==1.0.2
loguru==0.7.2
tenacity==8.3.0
redis==5.0.4
aiofiles==23.2.1
